@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-h1: 64pt;
  --text-h1--font-weight: 700;
  --text-h2: 32pt;
  --text-h2--font-weight: 700;
  --text-h3: 24pt;
  --text-sub1: 22.07px;
  --text-sub2: 16pt;
  --text-b1: 16pt;
  --text-b2: 20pt;
  --text-s1: 12pt;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f5f5;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
}

.btn {
  color: #ffffff;
  background-color: #0360E6;
  font-weight: 600;
;
}