@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --text-h1: 64px;
  --text-h1--font-weight-bold: 700;
  --text-h2: 32px;
  --text-h2--font-weight-bold: 700;
  --text-h3: 24px;
  --text-h3--font-weight-bold: 700;
  --text-sub1: 24px;
  --text-sub1--font-weight-semi-bold: 600;
  --text-sub2: 16px;
  --text-sub2--font-weight-semi-bold: 600;
  --text-b1: 16px;
  --text-b1--font-weight: 400;
  --text-b2: 20px;
  --text-b2--font-weight: 400;
  --text-b2--line-height: 32px;
  --text-sm1: 12px;
  --text-sm1--font-weight-semi-bold: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f5f5;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Helvetica, sans-serif;
  overflow-x: hidden;
}

.btn {
  color: #ffffff;
  background-color: #0360E6;
  font-weight: 600;
  
;
}
.card {
  height: 471px;
  width: 352px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  align-items: center;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.form {
  min-width: 396px;
  max-width: 524px;
  width: auto;
  border-radius: 20px;
  color: #161641;
  background-color: #ffffff;
  padding: 32px;
  gap: 32px;
}
form.form > div > input {
  border: 1px solid #141414;
  border-radius: 8px;
  padding: 6px 8px;
  font-size: 16px;
}
